---
const { text } = Astro.props;
---

<script>
  window.addEventListener("scroll", () => {
    const scrollTop = window.scrollY;
    const track = document.querySelector(".scrolling-header-track-inner");

    const maxScale = 1;
    const minScale = 10 / 35.5;
    const maxScroll = 3000;

    const newScale = Math.max(
      minScale,
      maxScale - (scrollTop / maxScroll) * (maxScale - minScale)
    );

    track.style.setProperty("--scroll-scale", newScale);
  });
</script>

<div class="scrolling-header-bg-bottom">
  <div class="scrolling-header-track">
    <div class="scrolling-header-track-inner">
      <span
        >{text} • {text} • {text} • {text} • {text} • {text} • {text} • {text} •
      </span>
      <span
        >{text} • {text} • {text} • {text} • {text} • {text} • {text} • {text} •
      </span>
    </div>
  </div>
</div>

<style>
  .scrolling-header-bg-bottom {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100vw;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;
    opacity: 0.1;
  }

  .scrolling-header-track {
    width: 100%;
    overflow: hidden;
  }

  .scrolling-header-track-inner {
    display: flex;
    animation: scrollText 30s linear infinite;
    font-size: 34.5rem;
    color: #f4e9c3;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    white-space: nowrap;
    will-change: transform;
    transform: scale(var(--scroll-scale, 1));
    transform-origin: bottom left;
  }

  @media screen and (max-width: 636px) {
    .scrolling-header-track-inner {
      animation-duration: 8s;
    }
  }

  @keyframes scrollText {
    0% {
      transform: translateX(0%) scale(var(--scroll-scale, 1));
    }
    100% {
      transform: translateX(-50%) scale(var(--scroll-scale, 1));
    }
  }
</style>
